main{
  width: 100%;
  height: 100vh;
  background: #fff;
}
section{
  width: 100%;
  height: 80vh;
  background: purple;
  border-radius: 0 0 120px 0;
  display: flex;
}
#menu{
  width: 14%;
  height: 4vh;
  background: yellow;
  float: left;
  margin-left: 3%;
  margin-top: 2vh;
}